<div>
  <Header />
  <div class="img-container">
       <img src='../assets/welcomeImg.png' class="img-responsive" alt="welcome">
      <LinkTo @route="questionnaire" class="button">Start</LinkTo>
  </div>
</div>